<HTML>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sentence Display </title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>    
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua" crossorigin="anonymous"></script> -->
        <style>
            body {
                background-color: #f8f9fa;
                font-family: Arial, sans-serif;
            }
            .container {
                margin-top: 20px;
            }
            h2 {
                text-align: center;
                margin-bottom: 40px;
            }
            #translation, #sentenceDisplay, #wordList {
                margin-top: 20px;
                background-color: #fff;
                border-radius: 5px;
                padding: 20px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            }
            .btn {
                margin: 10px 0;
            }
            .remove{
                margin: 0 0;
            }
            .btn-primary {
                background-color: #007bff;
                border-color: #007bff;
            }
            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }
            .form-control {
                border-radius: 5px;
            }
        </style>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">English Learning Assistant</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'polls:Input_Sentences' %}">Input Sentences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'polls:words' %}">Words</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'polls:sentences' %}">Sentences</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            
            <!-- <div class="banner">
                <h3>Artificial Intelligence Assistant for English Learning</h3>
                <a href="{% url 'polls:Input_Sentences' %}">Input_Sentences</a>|
                <a href="{% url 'polls:words' %}">Words</a>|
                <a href="{% url 'polls:sentences' %}">Sentences</a>
            </div> -->
        <div id="sentenceDisplay" class="mt-4">
            <p><strong>Sentence:</strong><span id="sentence">{{ sentence.sentence }}</span></p>
            <p><strong>Syntactic Analysis:</strong> {{ sentence.syntactic_analysis }}</p>
            <p><strong>Translation:</strong> {{ sentence.translation }}</p>
            <p><strong>Is Learned:</strong> {{ sentence.learned|yesno:"Yes,No" }}</p>
            <p><strong>Add Date:</strong> {{ sentence.add_date }}</p>
        </div>
        <button id="add" type="button" class="btn btn-primary">Look Up the Word</button>
        <form action="{% url 'polls:mark_sentence' sentence.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{{ sentence.learned|yesno:"Unmark,Mark" }}</button>
        </form>
        <a class="btn btn-primary" href="{% url 'polls:sentences' %}">Back to Sentences List</a>

        <div class="mt-4">
            <ol id="wordList" class="list-styled">
                {% for word in sentence.words.all %}
                <li>
                    <form action="{% url 'polls:remove_word' word.id %}" method="post" class="inline">
                    <span>{{ word.word }}</span>
                    <span>({{ word.type }})</span>
                    <span>{{ word.pronunciation }}</span>
                    <span>{{ word.mean }}</span>
                        {% csrf_token %}
                        <button type="submit" class="btn remove btn-link btn-sm">Remove</button>
                    </form>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
<!-- 
    <p><strong>Sentence:</strong> {{ sentence.sentence }}</p>
    <p><strong>Translation:</strong> {{ sentence.translation }}</p>
    <p><strong>Context:</strong> {{ sentence.context }}</p>
    <p><strong>Is Learned:</strong> {{ sentence.learned|yesno:"Yes,No" }}</p> -->
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
        $(document).ready(function(){
            $('#add').click(function(){
                var wordText = window.getSelection().toString();
                var sentenceText = $('#sentence').text(); // 获取句子文本
                $.ajax({
                    url: '/polls/add_word/', // 后端处理添加单词的URL
                    type: 'POST',
                    data: {
                        'word': wordText,
                        'sentence': sentenceText,
                    },
                    headers: {'X-CSRFToken': csrftoken },
                    success: function(data) {
                        // 成功添加单词后的回调函数
                        // 假设后端返回的数据格式为 { word: "word", type: "type", pronunciation: "pronunciation", mean: "mean" }
                        var newWordItem = '<li>' +
                            '<form action=\"polls/'+data.id+'/remove_word\" method=\"post\" class=\"inline\">'+
                            '<span>' + data.word + '</span> ' +
                            '<span>(' + data.type + ')</span> ' +
                            '<span>' + data.pronunciation + '</span> ' +
                            '<span>' + data.mean + '</span> ' +
                            '<input type=\"hidden\" name=\"csrfmiddlewaretoken\" value=\"'+csrftoken+'\">' +
                            '<button type=\"submit\" class=\"btn remove btn-link btn-sm\">Remove</button></form>'+
                            // '<button type="button" class="remove btn btn-link btn-sm">Remove</button>' +
                            '</li>';
                        $('#wordList').prepend(newWordItem);
                    },
                    error: function(xhr, status, error) {
                        // 错误的回调函数
                        alert('Error adding word.');
                    }
                });
                // if(selectedText) {
                //     $('#wordList').append('<li><span>' + selectedText + '</span><button class="remove">Remove</button><button class="addWord">add_move</button></li> ');
                // }
            });
        });
    </script>
</body>
</html>
